{
    "extends": [
        "eslint:recommended",
        "@nuxtjs/eslint-config-typescript",
        "prettier"
    ],
    "rules": {
        "no-console": "off",
        "vue/no-multiple-template-root": 0,
        "vue/multi-word-component-names": "off"
    }
}
